.header1 {
    display: none;
}

.header2 {
    font-family: 'Times New Roman', monospace;
    font-size: xx-large;
    text-align: left;
    margin-left: 30px;
}

/* header:hover {
    background-color: #BC7F6A;
} */

h1, h2, h3 {
    font-family: 'Times New Roman', monospace;
}

body {
    color: #323233;
    background-image: url("images/grid_paper.jpeg"); 
    background-size: cover;  
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-family:'Bradley Hand', monospace;
}

footer {
    margin-top: 125px;
}

a {
    color: #FCF8EE;
}

ul {
    list-style:none;
    list-style-position:inside;
    padding-left: 0;
    
}

.pics1 {
    display: none;
}

.pics2 {
    justify-content: center;
    align-items: center;
    display: flex;
}

.pics2 img {
    margin: 75px;
}

.col {
    float:inline-start;
    width: 33.33%;
    padding: 0px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.horizontal_list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.horizontal_list li {
    margin-right: 10px;
}

button {
    display: inline-block; /* Make it a block-level element */
    padding: 10px 20px; /* Add padding for spacing */
    background-color: #323233; /* Button background color */
    color: #FCF8EE; /* Text color */
    border: none; /* Remove the default border */
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer; /* Show a pointer cursor on hover */
    margin: 5px;
}

.toggle_button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.button-link {
    display: inline-block; /* Make it a block-level element */
    padding: 10px 20px; /* Add padding for spacing */
    background-color: #323233; /* Button background color */
    color: #FCF8EE; /* Text color */
    text-decoration: none; /* Remove underline from links */
    border: none; /* Remove the default border */
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer; /* Show a pointer cursor on hover */
    margin: 5px;
}

.button-link:hover {
    color: #323233;
    background-color: #FCF8EE;
}

.textbox1 {
    line-height: 1.5;
    text-align: center;
    margin: auto;
    width: 700px;
    padding: 10px;
    background-color: #99B4FF;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.textbox2 {
    line-height: 1.5;
    text-align: center;
    margin: auto;
    width: 700px;
    padding: 10px;
    background-color: #FDDD87;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.textbox3 {
    line-height: 1.5;
    text-align: center;
    margin: auto;
    width: 700px;
    padding: 10px;
    background-color: #FFB8D4;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.project1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text1 {
    flex: 1;
    padding: auto;
    font-size: 20px;
    margin-top: 50px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.image1 {
    order: -1;
    flex: 1;
    text-align: center;
    margin-top: 50px;
}

.space {
    margin: 75px;
}

.socials {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.socials li {
    margin-right: 40px;
}

.socials img {
    width: 60px;
    height: 60px;
}

.textbox1 {
    line-height: 1.5;
    text-align: center;
    margin: auto;
    width: 700px;
    padding: 10px;
    background-color: #99B4FF;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.textbox2 {
    line-height: 1.5;
    text-align: center;
    margin: auto;
    width: 700px;
    padding: 10px;
    background-color: #FDDD87;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.textbox3 {
    line-height: 1.5;
    text-align: center;
    margin: auto;
    width: 700px;
    padding: 10px;
    background-color: #FFB8D4;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.service_stuff {
    position: relative;
    width: 1000px;
    height: 1000px;
}

.textbox1_s {
    line-height: 1.5;
    text-align: center;
    margin: auto;
    width: 700px;
    padding: 10px;
    background-color: #99B4FF;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    position: absolute;
    top: 0%;
    left: 10%;
}

.textbox2_s {
    line-height: 1.5;
    text-align: center;
    margin: auto;
    width: 700px;
    padding: 10px;
    background-color: #FDDD87;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    position: absolute;
    top: 30%;
    left: 50%;
}

.textbox3_s {
    line-height: 1.5;
    text-align: center;
    margin: auto;
    width: 700px;
    padding: 10px;
    background-color: #FFB8D4;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    position: absolute;
    top: 70%;
    left: 85%;
}

.quali1 {
    display: none;
}

.quali2 {
    display: flex;
}

.textbox2_q {
    line-height: 1.5;
    text-align: center;
    margin: auto;
    width: 200px;
    padding: 10px;
    background-color: #FDDD87;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    flex: 1;
    margin: 5px;
}

.textbox3_q {
    line-height: 1.5;
    text-align: center;
    margin: auto;
    width: 200px;
    padding: 10px;
    background-color: #FFB8D4;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    flex: 1;
    margin: 5px;
}